.main {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  background-color: #f2f2f2;
}

.main h1{
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.container img{
  border: 3px solid #ccc;
  border-radius: 50%;
  margin: 10px;
}
.container div {
  flex: 1 0 20%;
  margin: 30px;
  border-radius: 16px;
  box-shadow: -1px -7px 33px -3px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.container h4 {
  font-size: 1.8em;
  text-transform: capitalize;
}
